<h1>States</h1>
  <% @states.each do |state| %>
    <div class="panel">
      <p><%= link_to state.name, state_path(state) %></p>
    </div>
  <% end %>

<%= paginate @states %>

<%= link_to "Add a state", new_state_path %>
