<h1>Cities</h1>
  <% @cities.each do |city| %>
    <div class="panel">
      <p><%= link_to city.name, city_path(city) %></p>
    </div>
  <% end %>

<%= paginate @cities %>

<%= link_to "Add a city", new_city_path %>
