<h1>Neighborhoods</h1>
  <% @neighborhoods.each do |neighborhood| %>
    <div class="panel">
      <p><%= link_to neighborhood.name, neighborhood_path(neighborhood) %></p>
    </div>
  <% end %>

<%= paginate @neighborhoods %>

<%= link_to "Add a neighborhood", new_city_neighborhood_path %> <br >
<%= link_to "Home", root_path %>
